<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLable">Description</h4>
</div>
<div class="modal-body">
  Hoping for description of recipe to show here
</div>

