<ul>
  <li>
    <%= f.button :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </li>
  <li>
    <%= f.label :instruction, class: "label" %>
    <%= f.text_field :instruction, class: "input" %>
  </li>
</ul>