<section class="section">
  <div class="container new-form">
    <h3 class="new-recipe-form-title">ADD YOUR FAVORITE RECIPE</h3><br/>
    <div class="recipe-form">
      <%= render 'form' %>
    </div>
  </div>
</section>
