
<% if user_signed_in? %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="notification">
          <p class="is-size-3 has-text-centered recipe-index">
            Cocktails
          </p>
        </div>
      </div><!-- column -->

      <div class="column is-4">
        <div class="notification box">
          <p class="is-size-3 has-text-centered recipe-index">
            Appetizers
          </p>
        </div>
      </div><!-- column -->

      <div class="column is-4">
        <div class="notification">
          <p class="is-size-3 has-text-centered recipe-index">
            <%= link_to 'Dinner', dinners_path %>
          </p>
        </div>
      </div><!-- column -->
    </div><!-- columns -->

    <div class="columns">

      <div class="column is-4">
        <div class="notification">
          <p class="is-size-3 has-text-centered recipe-index">
            Sides
          </p>
        </div>
      </div><!-- column -->

      <div class="column is-4">
        <div class="notification">
          <p class="is-size-3 has-text-centered recipe-index">
            Dessert
          </p>
        </div>
      </div><!-- column -->

      <div class="column is-4">
        <div class="notification">
          <p class="is-size-3 has-text-centered recipe-index">
            Breakfast
          </p>
        </div>
      </div><!-- column -->
    </div><!-- columns -->

    <div class="columns">
      <div class="column is-4">
        <div class="notification">
          <p class="is-size-3 has-text-centered recipe-index">
            Lunch
          </p>
        </div>
      </div><!-- column -->

      <div class="column is-4 has-text-centered">
        <div class="notification">
          <p class="is-size-3 has-text-centered">
            <%= link_to 'Add A Recipe', new_recipe_path, class: "is-size-3 recipe-index" %>
          </p>
        </div>
      </div><!-- column -->

    </div><!-- columns -->
  </div><!-- container -->
<section>
<% else %>
  <%= render 'welcome' %>
<% end %>
