<div>
  <section class="section">
    <div class="container">
      <div class="hero">
        <%= image_tag 'ipadrecipes.jpg', class: "image-hero" %>
        <p class="subtitle">Welcome to Family Bytes!</p>
        <p class="subtitle">Gather all your family fav's, no more searching all over for the recipe card or book</p>
        <p class="subtitle">Sign in or Create a new account</p>
      </div>
    </div>
  </section>
