<h1>Search Results</h1>

<%= link_to "Home", chapters_path %>

<% if @search.search_recipes.empty? %>

  <p> Sorry, no recipes found </p>

<% else %>

  <% @search.search_recipes.each do |recipe| %>

  <div class="div">
    <h1><%= link_to recipe.name, recipe_path(recipe) %></h1>
  </div>
  <% end %>
<% end %>

