  <% if logged_in? %>
  <section class="section">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="title hero-message">Family Bytes<span class="subhero-message"> - save your memories</span></h1>
      </div>
    </div>
  </section>
  
    <div class="container">
      <div class="chapters">
        <% @chapters.each do |chapter| %>
          <div class="chapter">
             <%= link_to chapter.title, chapter_recipes_path(chapter) %> 
          </div>
        <% end %>
      </div>
  </div><!-- row -->
</section>
    <% else %>
  <section>
    <%= render 'home/welcome' %>
  </section>
    <% end %>
