 body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
}

.banner {
  background-color: #f9f4f4;
  height: 36px;
  width: 100%;
  padding: 8px 0;
  overflow: hidden;
}

.navbar {
  width: 100%;
  color: #5e5656;
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 65px;  
}

.nav-brand {
  font-size: 14px;
  color: #5e5656;
  padding-left: 10px;
  text-transform: uppercase;
}

.nav-brand:hover {
  color: #4b86b4;
}

.nav-item {
  padding-right: 10px;
}

.nav-item:hover {
  color: #4b86b4;
}

.nav-link {
  text-transform: uppercase;
  color: #5e5656;
  font-size: 14px;
}

.nav-link:hover {
  color: #4b86b4;
}

#mySidepanel {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #051e3e;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; 
}

.menu-title1 {
  font-family: 'Montserrat', sans-serif;
  padding: 6px 10px 6px 16px;
  font-size: 15px;
  background: none;
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.menu-title2 {
  font-family: 'Montserrat', sans-serif;
  padding: 6px 10px 6px 16px;
  font-size: 15px;
  background: none;
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

#mySidepanel .menu-title1:hover, .menu-title2:hover {
  color: #352C20;
  transition: all 0.3s;
  background-color: #f9f4f4;
}

.menu-title a {
  font-family: 'Montserrat', sans-serif;
  padding: 6px 10px 6px 16px;
  font-size: 15px;
  background: none;
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  width: 100%;
  list-style: none;
}

.submenu {
  font-family: 'Montserrat', sans-serif;
  padding: 6px 8px 6px 32px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.submenu:hover {
  color: #352C20;
  transition: all 0.3s;
  background-color: #f9f4f4;
}

.submenu a {
  color: #fff;
}

.addon-menu a {
  font-family: 'Montserrat', sans-serif;
  padding: 6px 8px 6px 16px;
  font-size: 15px;
  background: none;
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  width: 100%;
  display: block;
}

.addon-menu a:hover {
  color: #352C20;
  transition: all 0.3s;
  background-color: #f9f4f4;
}

.sidepanel .closebtn {
  position: absolute;
  color: #fff;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  height: 100%;
}

.closebtn:hover {
  color: #f9f4f4;
}

.openbtn {
  cursor: pointer;
  color: #352C20;
}

.openbtn:hover {
  background-color: #fff;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.content {
 width: 100%;
 min-height: 100vh;
 transition: all 0.3s;
}

.search-popover {
  width: 250px;
  position: absolute;
  top: 0.1rem;
  right: 2.5rem;
  border-radius: 5px;
  border: 1px solid #352C20;
  z-index: 2;
  background-color: #fff;
  padding: 1rem 1rem 2rem;
}

.form-control {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.btn-search-button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.is-hidden {
  display: none;
}

.cancel-button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

@media(maz-width:768px){
  #sidebar{margin-left: -250px;}
  #sidebar.active{
  margin-left: 0px;
  }
  #sidebarCollapse span{
  display: none;
  }
}


.login-form {
  border: 1px solid #7e7e7e;
  width: 60%;
  margin: auto;
}
.login-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 15px;
}
.label {
  text-transform: uppercase;
}
.box {
  width: 50%;
  margin: auto;
}

