body {
  margin: 0;
  background-color: #fff;
  color: #35342d;
  height: 100%;
}

nav {
  border-bottom: 1px solid #363636;
}

.navbar-item {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
  a:hover {
    color: #a20c0b;
  }
}


.image-hero {
  border: 1px solid #35342d;
}
