.dinner-title, .recipe-title  {
  text-align: center;
  text-transform: uppercase;
}

.recipe-subtitle {
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}

.title-index {
  margin-bottom: 5px !important;
}

.recipe-button {
  text-transform: uppercase;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
    &:hover {
      background-color: #a20c0b;
      color: #fff;
    }
  }

#add-description {
  margin-bottom: 10px;
  margin-top: -30px;
}

.hero {
  width: 100%;
  position: relative;
  height: 500px;
}

.show-image {
  width: 50%;
  height: 500px;
  border: 1px solid #424244;
}

.ingredients-subtitle {
  padding-top: 50px;
  text-transform: uppercase;
  color: #35342D;
  font-weight: 500;
}

.ingredient-list {
  font-size: 15px;
}

p.subtitle {
  text-transform: uppercase;
  font-size: 15px;
}

.notification a:not(.button):not(.dropdown-item) {
  text-decoration-line: none;
}

.recipe-index {
  text-transform: uppercase;
  font-weight: 200;
}

.search-button input {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.search-button:hover {
  color: #fff;
  background-color: #7e7e7e;
}

.search-field {
  border-radius: 5px;
}

.notification {
  background-color: #fff;
  border: 1px solid #373737;
  &:hover {
    background-color: #a20c0b;
    color: #fff;
  }
}

.image {
  width: 100%;
  display: block;
  border: 0;
  height: auto;
}

.card {
  background: white;
  margin-bottom: 2em;
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 5em;
  font-weight: normal;
  text-transform: uppercase;
}

.card-content p {
  font-size: 80%;
}
.search-title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 200;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 33%;
}

.chapters-title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.add-recipe {
  margin-bottom: 40px;
  text-transform: uppercase;
  &:hover {
    background-color: #a20c0b;
    color: #fff;
  }
}

.ingredient-list {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}


.edit-recipe a {
  text-transform: uppercase;
}


div.container {
  text-align: center;
}

.new-form {
  border: 1px solid #424244;
  padding: 10px;
}

.fields_with_errors {
  color: #a20c0b;
  text-transform: uppercase;
}

.text-field {
  margin-top: 20px;
  width: 70%;
  height: 200px;
  border: 1px solid #aaaca9;
  border-radius: 5px;
}
.button {
  text-transform: uppercase;
}
.button:hover {
  background-color: #555;
  color: #fff;
}

a.add_fields {
  text-transform: uppercase;
  color: #d24240;
}